@font-face {
    font-family: ITCAvantGardeStd;
    src: url('../fonts/itcavantgardestd-bk-webfont.eot');
    src: url('../fonts/itcavantgardestd-bk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/itcavantgardestd-bk-webfont.woff') format('woff'),
         url('../fonts/itcavantgardestd-bk-webfont.ttf') format('truetype'),
         url('../fonts/itcavantgardestd-bk-webfont.svg#itc_avant_garde_gothic_stdBk') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ITCAvantGardeStd;
    src: url('../fonts/itcavantgardestd-md-webfont.eot');
    src: url('../fonts/itcavantgardestd-md-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/itcavantgardestd-md-webfont.woff') format('woff'),
         url('../fonts/itcavantgardestd-md-webfont.ttf') format('truetype'),
         url('../fonts/itcavantgardestd-md-webfont.svg#itc_avant_garde_gothic_stdMd') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
    background: url(../img/background.png) fixed repeat 0 0;
    font-family: ITCAvantGardeStd, Arial, sans-serif;
}

h1 {
    color: #be0185;
    font-weight: bold;
}

a {
    color: #be0185;
}

.lvdp-header {
    background-color: white;
    padding:0;
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
    width:100%;
}

@media screen and (min-width: 768px) {
.lvdp-header {
    left:50%;
    margin:0 0 0 -375px;
    width: 750px;
}
}

@media screen and (min-width: 992px) {
.lvdp-header {
    margin:0 0 0 -485px;
    width: 970px;
}
}

@media screen and (min-width: 1200px) {
.lvdp-header {
    margin:0 0 0 -585px;
    width: 1170px;
}
}

.lvdp-tagline {
    position:relative;
    height: 90px;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
.lvdp-tagline {
    height: 163px;
}
}


.lvdp-tagline-front {
    position:absolute;
    top: 12px;
    left: 12px;
    max-width: 60%;
    max-height: 70px;
}

@media screen and (min-width: 768px) {
.lvdp-tagline-front {
    left: 50px;
    height: 130px;
    max-height: 130px;
    max-width: 100%;
}
}

.lvdp-tagline-back {
    position:absolute;
    top:0;
    left:150px;
}

@media screen and (min-width: 992px) {
.lvdp-tagline-back {
    left:218px;
}
}

@media screen and (min-width: 1200px) {
.lvdp-tagline-back {
    left:448px;
}
}


.lvdp-nav {
    background-color: white;
}

.lvdp-nav-xs {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 160px;
}

.lvdp-nav-xs:hover .lvdp-nav-xs-collapse {
    display: block;
}

.lvdp-nav-xs-collapse {
    position: absolute;
    top: 50px;
    right: 0px;
    display: none;
    box-shadow: #ccc 0px 0px 5px;
}

.lvdp-logo {
    padding: 12px;
}

.lvdp-logo-offset {
    position: absolute;
    bottom: 0px;
    left: 50px;
    z-index: 100;
}

.lvdp-nav a {
    color: #a7a7a7;
}

.lvdp-nav-item {
    position: relative;
    padding: 12px;
    text-align: center;

    /* http://www.colorzilla.com/gradient-editor/#f3f3f3+0,ffffff+50,f3f3f3+100;Custom */
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff 50%, #f3f3f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(50%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f3f3f3 0%,#ffffff 50%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f3f3f3 0%,#ffffff 50%,#f3f3f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f3f3f3 0%,#ffffff 50%,#f3f3f3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f3f3f3 0%,#ffffff 50%,#f3f3f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}

.lvdp-nav-active {
    background: #be0185; /* Old browsers */
    background: -moz-linear-gradient(top, #8e0061 0%, #be0185 20%, #be0185 50%, #be0185 80%, #8e0061 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e0061), color-stop(20%,#be0185), color-stop(50%,#be0185), color-stop(80%,#be0185), color-stop(100%,#8e0061)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8e0061 0%,#be0185 20%,#be0185 50%,#be0185 80%,#8e0061 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8e0061 0%,#be0185 20%,#be0185 50%,#be0185 80%,#8e0061 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8e0061 0%,#be0185 20%,#be0185 50%,#be0185 80%,#8e0061 100%); /* IE10+ */
    background: linear-gradient(to bottom, #8e0061 0%,#be0185 20%,#be0185 50%,#be0185 80%,#8e0061 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e0061', endColorstr='#8e0061',GradientType=0 ); /* IE6-9 */
}

.lvdp-nav-active a {
    color: white;
}

.lvdp-vspace-small {
    height: 30px;
}

.lvdp-vspace {
    height: 100px;
}

.lvdp-main-pauline {
    overflow: hidden;
    position: relative;
}
.lvdp-home-animation {
    background: white;
    position:absolute;
    height: 100%;
    width: 100%;
    margin-left: 100%;
    z-index: 50;
}

.lvdp-home-animation-bg {
    background: url('../img/grappe.png') no-repeat;
    width: 247px;
    height: 260px;
    margin: auto;
    position: relative;
}

.lvdp-home-animation-raisin {
    background: url('../img/raisin.png') no-repeat;
    //background-size: 100%;
    //background-position: -10% -10%;
    width: 52px;
    height: 56px;
    position:absolute;
    opacity: 0;
}
.lvdp-home-animation-raisin-1  { bottom: -11px; left: 98px; }

.lvdp-home-animation-raisin-2  { bottom:  32px; left: 64px; }
.lvdp-home-animation-raisin-3  { bottom:  32px; left: 131px; }

.lvdp-home-animation-raisin-4  { bottom:  74px; left: 30px; }
.lvdp-home-animation-raisin-5  { bottom:  74px; left: 97px; }
.lvdp-home-animation-raisin-6  { bottom:  74px; left: 164px; }

.lvdp-home-animation-raisin-7  { bottom:  117px; left: -3px; }
.lvdp-home-animation-raisin-8  { bottom:  117px; left: 64px; }
.lvdp-home-animation-raisin-9  { bottom:  117px; left: 131px; }
.lvdp-home-animation-raisin-10 { bottom:  117px; left: 198px; }

.lvdp-home-animation-raisin-11 { bottom:  160px; left: 30px; }
.lvdp-home-animation-raisin-12 { bottom:  160px; left: 97px; }
.lvdp-home-animation-raisin-13 { bottom:  160px; left: 164px; }

.lvdp-home-animation-welcome-1, .lvdp-home-animation-welcome-2 {
    width: 100%;
    text-align:center;
    margin-left: 100%;
}

.lvdp-home-animation-welcome-1 {
    margin-top: 40px;
    color: #be0185;
}

.lvdp-home-animation-welcome-2 {
    margin-top: 10px;
    padding: 5px;
    background: #be0185;
    width: 100%;
    color: white;
    font-weight: bold;
}

.lvdp-home-animation-close {
    position: absolute;
    top: 30px;
    right: 25px;
}

.lvdp-main-pauline {
    background: url(../img/main-background-pauline.jpg) 0 0;
}

.lvdp-main-formations {
    background: url(../img/main-background-formations.jpg) 0 0;
}

.lvdp-main-animations {
    background: url(../img/main-background-animations.jpg) 0 0;
}

.lvdp-main-ateliers {
    background: url(../img/main-background-ateliers.jpg) 0 0;
}

.lvdp-main-ventes {
    background: url(../img/main-background-ventes.jpg) 0 0;
}

.lvdp-main {
    background-size: 100% auto;
    background-size: cover;
}

@media screen and (min-width: 768px) {
.lvdp-main {
    margin-top: 207px;
}
}

.lvdp-tab {
    position:relative;
    background: white;
    background-color: rgba(255,255,255,.67);
    color: #be0185;
    text-align: center;
    text-shadow: #aaa 3px 3px 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px;
}

.lvdp-tab-active {
    background: #be0185;
    color: white;
}

.lvdp-tab-separator {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: #ccc;
    box-shadow: #ccc 1px 1px 1px;
}

.ps-container .ps-scrollbar-y-rail ,
.ps-container .ps-scrollbar-y {
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-y {
    background-color: white;
}

.lvdp-content {
    box-shadow: 5px 5px 10px;
    border-bottom-left-radius:  3px;
    border-bottom-right-radius: 3px;
    background: white;
    background-color: rgba(255,255,255,.8);
    text-shadow: #aaa 3px 3px 3px;
    position: relative;
}

@media screen and (min-width: 768px) {
.lvdp-content {
    padding-right: 30px;
}
}

.lvdp-content img {
    margin-bottom: 15px;
    max-width: 100%;
}

.lvdp-content-tab {
    position: relative;
}

.lvdp-close {
    position: absolute;
    bottom: -40px;
    right: 20px;
    z-index: 50;
}


img.lvdp-portrait {
    margin-bottom: 0;
}

/*
@media screen and (min-width: 768px) {
.lvdp-content {
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}
}

@media screen and (min-width: 992px) {
.lvdp-content {
    max-height: 400px;
}
}

@media screen and (min-width: 1200px) {
.lvdp-content {
    max-height: 500px;
}
}
*/

.lvdp-content li {
    list-style: none;
    margin-bottom: 10px;
}

.lvdp-content li:before {
    content:'\2022';
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -30px;
    top: -10px;
    color: #be0185;
    font-size: 30px;
} 

.lvdp-content li h2 {
    color: #be0185;
    font-size: 14px;
    margin: 0;
    font-weight: bold;
}

.lvdp-content li p {
    margin: 0;
}

.lvdp-cross {
    position: absolute;
    left: -19px;
    top: 21px;
}

@media (min-width: 768px) {
.lvdp-fadeout {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background: url(../img/fadeout.png);
}
}

.lvdp-ribbon {
    position: absolute;
    left: -2.5px;
    bottom: -4px;
}

.lvdp-tile-head {
    background-color: #be0185;
    margin: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.lvdp-tile-head h1 {
    color: white;
    font-size: 12pt;
    font-weight: normal;
    padding: 10px;
    display: block;
}

@media (min-width: 768px) {
    .lvdp-tile-head {
        height: 144px;
        width: 144px;
    }

}
@media (min-width: 992px) {
    .lvdp-tile-head {
        height: 152px;
        width: 152px;
    }

    .lvdp-tile-head h1 {
        font-size: 14pt;
    }
}
@media (min-width: 1200px) {
    .lvdp-tile-head {
        height: 189px;
        width: 189px;
    }
}

.lvdp-tile-content {
    height: 70px;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .lvdp-tile-content {
        margin-top: 0px;
        height: 144px;
    }
}
@media (min-width: 992px) {
    .lvdp-tile-content {
        height: 152px;
    }
}
@media (min-width: 1200px) {
    .lvdp-tile-content {
        height: 189px;
    }
}

@media (min-width: 768px) {
.lvdp-tile-philosophie {
    background: url(../img/page-icon-philosophie.png) no-repeat 50% 80%;
}
.lvdp-tile-philosophie:hover {
    background: url(../img/page-icon-philosophie-inv.png) no-repeat 50% 80%;
}

.lvdp-tile-organisations {
    background: url(../img/page-icon-organisations.png) no-repeat 50% 80%;
}
.lvdp-tile-organisations:hover {
    background: url(../img/page-icon-organisations-inv.png) no-repeat 50% 80%;
}

.lvdp-tile-coeur {
    background: url(../img/page-icon-coeur.png) no-repeat 50% 80%;
}
.lvdp-tile-coeur:hover {
    background: url(../img/page-icon-coeur-inv.png) no-repeat 50% 80%;
}

.lvdp-tile-racines {
    background: url(../img/page-icon-racines.png) no-repeat 50% 80%;
}
.lvdp-tile-racines:hover {
    background: url(../img/page-icon-racines-inv.png) no-repeat 50% 80%;
}

.lvdp-tile-ailes {
    background: url(../img/page-icon-ailes.png) no-repeat 50% 80%;
}
.lvdp-tile-ailes:hover {
    background: url(../img/page-icon-ailes-inv.png) no-repeat 50% 80%;
}

.lvdp-tile-savoirs {
    background: url(../img/page-icon-savoirs.png) no-repeat 50% 80%;
}
.lvdp-tile-savoirs:hover {
    background: url(../img/page-icon-savoirs-inv.png) no-repeat 50% 80%;
}

.lvdp-tile-cafe {
    background: url(../img/page-icon-cafe.png) no-repeat 50% 80%;
}
.lvdp-tile-cafe:hover {
    background: url(../img/page-icon-cafe-inv.png) no-repeat 50% 80%;
}

.lvdp-tile-cadres {
    background: url(../img/page-icon-cadres.png) no-repeat 50% 80%;
}
.lvdp-tile-cadres:hover {
    background: url(../img/page-icon-cadres-inv.png) no-repeat 50% 80%;
}

.lvdp-tile-calendrier {
    background: url(../img/page-icon-calendrier.png) no-repeat 50% 80%;
}
.lvdp-tile-calendrier:hover {
    background: url(../img/page-icon-calendrier-inv.png) no-repeat 50% 80%;
}

.lvdp-tile-sur-mesure {
    background: url(../img/page-icon-sur-mesure.png) no-repeat 50% 80%;
}
.lvdp-tile-sur-mesure:hover {
    background: url(../img/page-icon-sur-mesure-inv.png) no-repeat 50% 80%;
}

.lvdp-tile-vente {
    background: url(../img/page-icon-vente.png) no-repeat 50% 80%;
}
.lvdp-tile-vente:hover {
    background: url(../img/page-icon-vente-inv.png) no-repeat 50% 80%;
}

}

@media (max-width: 1199px) {
    .lvdp-tile-content {
        background-size: 60%;
    }
    .lvdp-tile-content:hover {
        background-size: 60%;
    }
}

.lvdp-tile-content {
    background-color: rgba(255,255,255,.5);
}

.lvdp-tile-content:hover {
    background-color: rgba(190,1,133,.3);
}

.lvdp-tile-content h2 {
    margin-top: 0;
    color: white;
    text-shadow: #000 3px 3px 3px;
    padding: 16px;
    padding-left: 28px;
    font-size: 12pt;
}

.lvdp-tile-active {
    background-color: rgba(190,1,133,.5);
}

.lvdp-tile-ribbon {
    position: absolute;
    left: 12px;
    bottom: -4px;
}

.lvdp-tile-cross {
    position: absolute;
    right: 28px;
    bottom: 12px;
}

a.lvdp-fill-div {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.lvdp-paraph {
    background-color: #be0185;
    padding: 10px;
}

.lvdp-merci p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lvdp-merci a {
    color: black;
}

.lvdp-merci a:hover {
    color: #be0185;
    text-decoration: underline;
}

.lvdp-more {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.lvdp-plus {
    width: 45px;
    margin-left: auto;
    margin-right: auto;
}

.lvdp-plus-box {
    display:none;
    position: relative;
    width: 0;
}

.lvdp-plus:hover .lvdp-plus-box {
    display: block;
}

.lvdp-plus-box-expanded {
    position: absolute;
    top: -20px;
    left: -100px;
    background: #be0185;
    color: white;
    text-shadow: none;
    width: 200px;
    padding: 10px;
    border-radius: 3px;
    z-index: 200;
}

@media (min-width: 768px) {
    .lvdp-plus-box-expanded {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .lvdp-plus-box-expanded {
        width: 400px;
    }
}
@media (min-width: 1200px) {
    .lvdp-plus-box-expanded {
        width: 500px;
    }
}

.lvdp-plus-box-expanded a {
    font-weight: bold;
    color: white;
}

.lvdp-pratique {
    width: 45px;
    margin-left: auto;
    margin-right: auto;
}

.lvdp-pratique-box {
    display:none;
    position: relative;
    width: 0;
}

.lvdp-pratique:hover .lvdp-pratique-box {
    display: block;
}

.lvdp-pratique-box-expanded {
    position: absolute;
    top: -20px;
    right: -135px;
    background: #70a81d;
    color: white;
    text-shadow: none;
    width: 200px;
    padding: 10px;
    border-radius: 3px;
    z-index: 200;
}

@media (min-width: 768px) {
    .lvdp-pratique-box-expanded {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .lvdp-pratique-box-expanded {
        width: 400px;
    }
}
@media (min-width: 1200px) {
    .lvdp-pratique-box-expanded {
        width: 500px;
    }
}

.lvdp-pratique-box-expanded li:before {
    color: white;
}

.lvdp-pratique-box-expanded a {
    font-weight: bold;
    color: white;
}


.lvdp-icons {
    position: absolute;
    bottom: 40px;
    left: 0px;
}

@media (min-width: 992px) {
    .lvdp-icons {
        left: 40px;
        bottom: 50px;
    }
}

.lvdp-icons img {
    padding-left: 10px;
    padding-top: 10px;
}

.lvdp-footer {
    background-color: #e6e6e6;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12.5px;
}

.lvdp-abus {
    margin-top: 10px;
}

.lvdp-footer h2 {
    font-size: 18px;
    margin-top:14px;
}

.lvdp-footer a {
    color: black;
    font-weight: bold;
}

.lvdp-footer-icon {
    position: absolute;
}

.lvdp-footer-text {
    padding-left: 60px;
}

@media screen and (min-width: 768px) {
    .lvdp-footer-icon {
        top: 10px;
        left: 10px;
    }
}

.lvdp-footer-divider {
    height: 1px;
    box-shadow: #ccc 1px 1px 1px;
}
